body {
    padding: 0;
    orphans: 0;
    widows: 0;
	font: 300 1em/1.8 PingFang SC,Lantinghei SC,Microsoft Yahei,Hiragino Sans GB,Microsoft Sans Serif,WenQuanYi Micro Hei,Helvetica,sans-serif;
}

div, p {
    margin-left: 0;
    margin-right: 0;
    orphans: 0;
    widows: 0;
    text-indent: 2em;
	font-size: x-large;
}

img {
	max-width: 100%;
}
pre {
    padding-left: 2em;
	font-size: x-large;
}

li > p {
    text-indent: 0em;
}

.title {
    margin-top: 30%;
    margin-bottom: 0;
    border-style: none solid none none;
    border-width: 50px;
    border-color: #4E594D;
    font-size: 3em;
    line-height: 120%;
    text-align: right;
}

.author {
    margin-top: 0;
    border-style: none solid none none;
    border-width: 50px;
    border-color: #4E594D;
    page-break-after: always;
    font-size: large;
    line-height: 120%;
    text-align: right;
}

@media not amzn-mobi {
    .title-toc, .title-std {
        margin-top: 0;
        margin-bottom: 1.2em;
        border-style: none none dotted none;
        border-width: 0px 0px 1px 0px;
        border-color: #C1CCC0;
        padding: 10px 0 10px 0;
        font-size: x-large;
        line-height: 125%;
        text-align: center;
        text-shadow: 1px 1px 1px #333;
    }
}

@media amzn-mobi {
    .title-toc, .title-std {
        margin-top: 0;
        padding-top: 20px;
        font-size: x-large;
        line-height: 125%;
        text-align: center;
    }
}

.toc {
    margin-left: 12%;
    padding: 0px;
    line-height: 130%;
    text-align: justify;
}

.toc a {
    text-decoration: none;
    color: #000000;
}

.toc-dt {
    margin-top: 0.5em;
    margin-left: -20px;
    border-style: none none none none;
    line-height: 123%;
    font-size: 120%;
}